* {
	font-family: sans-serif!important;
}
:root {
	--tab-toolbar-navbar-overlap: 0px !important;
	--chrome-background-color: #000000 !important;
	--chrome-secondary-background-color: #000000 !important;
	--newtab-margin: -3px 0 -3px -3px !important;
	--tab-min-height: 22px !important;
	--toolbarbutton-border-radius: 1px !important;
	--toolbar-bgcolor: #000000 !important;
}

/* Hide BS */
#alltabs-button, .arrowscrollbox-overflow-start-indicator, .arrowscrollbox-overflow-end-indicator, .tab-close-button, .scrollbutton-up, .scrollbutton-down, .tabbrowser-tab::after, .tabbrowser-tab::before, #TabsToolbar .tabbrowser-tab[selected] .tab-line, #webrtcIndicator {
	display: none !important;
}
/* Color tab throbber and loading burst */
.tab-throbber::before {
	fill: #ffffff !important;
	opacity: 1 !important;
}
.tab-loading-burst[bursting]::before {
	fill: #cc0000 !important
}
/* Set the active tab background */
.tab-background[selected="true"] {
	background-color: #800000!important;
	opacity: 1
}
.tabbrowser-tab:not([selected]):hover .tab-content {
	background-color: #300000 !important;
}
/* autohide urlbar */
#nav-bar:not([customizing="true"]):not([inFullscreen]) {
	min-height: 1px !important;
	max-height: 0px !important;
	margin-top: 1px !important;
	margin-bottom: -1px !important;
	transition: all 50ms linear 0s !important;
	z-index: -5 !important;
}

#navigator-toolbox:hover:not([inFullscreen]) :-moz-any(#nav-bar),
#navigator-toolbox:focus-within :-moz-any(#nav-bar) {
	min-height: 32px !important;
	max-height: 32px !important;
	margin-top: 1px !important;
	margin-bottom: -32px !important;
	transition: all 50ms linear 0s !important;
	z-index: 5 !important;
}
 #mainPopupSet:hover ~ box > #navigator-toolbox > #nav-bar {
    margin-top: 0px;
    margin-bottom: -32px;
    transition-delay: 0s;
    opacity: 1;
}
/* Needed for for FF 75 megabar */
#urlbar {
	--urlbar-toolbar-height: 32px !important;
}
/* compact url bar*/
:root[uidensity=compact] #urlbar,
:root[uidensity=compact] .searchbar-textbox {
	font-size: unset !important;
	min-height: 24px !important;
}

:root[uidensity=compact] #identity-box {
	max-height: 22px;
}

:root[uidensity=compact] #nav-bar .toolbarbutton-1 {
	padding: 0px !important;
}

/* Compatibility with auto-hide.css */
:root[uidensity=compact] #navigator-toolbox {
	--nav-bar-height: 31px !important;
}
/* tab height*/
.tabbrowser-tab {
	min-width: 1em !important;
	clip-width: 1em !important;
}
.tabbrowser-tab[fadein]:not([pinned]):not([style*="max-width"]) { max-width: 30vw !important; }
#TabsToolbar {
	margin-bottom: -2px!important;
	margin-top: 0px!important;
}
#urlbar > #urlbar-background, urlbar  {
	border-color: black !important;
	box-shadow: none !important;
	background-color: black!important;
}
/* --- Prevent enlargement */
#urlbar[breakout-extend] {
	top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
	left: 0 !important;
	width: 100% !important;
}

#urlbar[breakout-extend] #urlbar-input-container {
	height: var(--urlbar-height) !important;
	/*padding: 0px !important;*/
	padding-block: 0px !important;
	padding-inline: 0px !important;
}
.urlbarView-row {
	padding: 0px 2px 0px 2px;
}
#nav-bar {
	background-color: black !important;
	background-image: none !important;
}
#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar):not(#nav-bar) {
	background-color: transparent !important;
	background-image: none;
}
