* {
	font-family: sans-serif!important;
}
:root {
	--tab-toolbar-navbar-overlap: 0px !important;
	--chrome-background-color: #000000 !important;
	--chrome-secondary-background-color: #000000 !important;
	--newtab-margin: -3px 0 -3px -3px !important;
	--tab-min-height: 22px !important;
	--toolbarbutton-border-radius: 1px !important;
	--toolbar-bgcolor: #000000 !important;
	--in-content-primary-button-background: #c00 !important;
	--in-content-primary-button-text-color: #fff !important;
	--in-content-page-background: #000 !important;
	--in-content-primary-button-background-hover: #ff4040 !important;
	--in-content-primary-button-background-active: #ff4040 !important;
	--in-content-page-color: #e0e0e0 !important;
    --in-content-box-background-odd: #000 !important;
    --in-content-box-info-background: #000 !important;
    --in-content-border-color: #000 !important;
    --in-content-border-hover: #000 !important;
    --in-content-border-invalid: rgb(255,132,139) !important;
    --in-content-warning-icon-color: #ffbd4f !important;
    --in-content-success-icon-color: #54FFBD !important;
    --in-content-icon-color: rgb(251,251,254) !important;
    --in-content-primary-button-text-color: #fff !important;
    --in-content-danger-button-background: #cc0 !important;
    --in-content-danger-button-background-hover: #ffff40 !important;
    --in-content-danger-button-background-active: #ffff40 !important;
    --in-content-table-background: #000 !important;
    --card-outline-color: #000 !important;
    --dialog-warning-text-color: #000 !important;
	--background-color-canvas: #000 !important;
	--color-accent-primary: #c00 !important;
    --color-accent-primary-hover: #ff4040 !important;
    --color-accent-primary-active: #ff4040 !important;
	--body-bg-color: #000 !important;
    --progressBar-color: #c00 !important;
    --progressBar-bg-color: #000 !important;
    --progressBar-blend-color: #400000 !important;
	--sidebar-narrow-bg-color: #000 !important;
    --sidebar-toolbar-bg-color: #000 !important;
	--toolbar-bg-color: #000 !important;
	--field-bg-color: #000 !important;
	--doorhanger-bg-color: #000 !important;
	--doorhanger-hover-bg-color: #202020 !important;
	--toggled-btn-bg-color: #202020 !important;
	--dropdown-btn-bg-color: #202020 !important;
}
